#### Dados

In [ ]:
lista = [23, 42, 3, 15, 32, 0, 13, 1, 52, 21, 11, 22, 18, 54, 64, 2, 6, 8, 22]

#### 1. Imprima o que se pede:
##### a) O elemento central da lista.

In [ ]:
#Primeira possibilidade pensada pelo grupo
posicao = int(len(lista)/2)
lista[posicao]

21

In [ ]:
#Segunda possibilidade pensada pelo grupo
print (lista [9])

21

In [ ]:
#Terceira possibilidade pensada pelo grupo
indice_central = len(lista) // 2
elemento_central = lista[indice_central]
print("Elemento central:", elemento_central)

Elemento central: 21

##### b) O menor e o maior elemento da lista.

In [ ]:
menor_elemento = min(lista)
maior_elemento = max(lista)

print("Menor elemento:", menor_elemento)
print("Maior elemento:", maior_elemento)

Menor elemento: 0
Maior elemento: 64

##### c) A diferença entre o primeiro e penúltimo elemento da lista.

In [ ]:
#Primeira possibilidade pensada pelo grupo
primeiro = lista[0]
penultimo = lista[-2]

print(f'A diferença entre o primeiro e o penúltimo elemento da lista é: {primeiro - penultimo}')

A diferença entre o primeiro e o penúltimo elemento da lista é: 15

In [ ]:
#Segunda possibilidade pensada pelo grupo
lista [0] - lista [17]

15

#### 2. Calcule:
##### a) A média dos elementos da lista (use a função de comprimento).

In [ ]:
#Primeira possibilidade pensada pelo grupo
media = (sum(lista)/len(lista))

print(f'A média dos elementos da lista é: {media}')

A média dos elementos da lista é: 21.526315789473685

In [ ]:
#Segunda possibilidade pensada pelo grupo
soma = sum(lista)
quantidade = len(lista)
media = soma / quantidade

print("Média dos elementos da lista:", media)

Média dos elementos da lista: 21.526315789473685

##### b) A média da lista elevada ao menor valor da lista.

In [ ]:
print(f'A média da lista elevada ao menor valor da lista é: {media**(min(lista))}')

A média da lista elevada ao menor valor da lista é: 1.0

#### 3. Crie 4 tuplas para pessoas diferentes com informações de nome, idade, altura, peso, cidade natal e idade.

In [ ]:
p_01 = ('João', 25, 1.80, 70, 'Florianópolis')
print(p_01)
p_02 = ('Cleber', 34, 1.65, 85, 'Belém')
print(p_02)
p_03 = ('Joana', 53, 1.55, 58, 'Curitiba')
print(p_03)
p_04 = ('Maria', 25, 1.62, 64, 'Porto Alegre')
print(p_04)

('João', 25, 1.8, 70, 'Florianópolis')
('Cleber', 34, 1.65, 85, 'Belém')
('Joana', 53, 1.55, 58, 'Curitiba')
('Maria', 25, 1.62, 64, 'Porto Alegre')

#### 4. Para cada uma das 4 tuplas criadas, calcule o IMC (Índice de Massa Corporal) da pessoa, sabendo que o IMC é dado pela razão entre o peso e o quadrado da altura.

In [ ]:
imc_01 = (p_01[3] / (p_01[2]**2))
print(f'{p_01[0]} possui um IMC de {imc_01}')

imc_02 = (p_02[3] / (p_02[2]**2))
print(f'{p_02[0]} possui um IMC de {imc_02}')

imc_03 = (p_03[3] / (p_03[2]**2))
print(f'{p_03[0]} possui um IMC de {imc_03}')

imc_04 = (p_04[3] / (p_04[2]**2))
print(f'{p_04[0]} possui um IMC de {imc_04}')

João possui um IMC de 21.604938271604937
Cleber possui um IMC de 31.22130394857668
Joana possui um IMC de 24.141519250780433
Maria possui um IMC de 24.38652644413961

#### 5. Crie um dicionário com o nome da pessoa associado a sua respectiva idade e IMC.
- É necessário extrair as variáveis nome e idade diretamente da tupla inicial com dados da pessoa, já o IMC deve ser oriundo das variáveis criadas no exercício 4.
- É necessário usar a função _update_ no dicionário.

In [ ]:
nome_p_01 = p_01[0]
idade_p1 = p_01[1]
dicio = {nome_p_01:(idade_p1, imc_01)}
dicio

{'João': (25, 21.604938271604937)}

In [ ]:
nome_p_02 = p_02[0]
idade_p2 = p_02[1]
dicio.update({nome_p_02:(idade_p2, imc_02)})
dicio

{'João': (25, 21.604938271604937), 'Cleber': (34, 31.22130394857668)}

In [ ]:
nome_p_03 = p_03[0]
idade_p3 = p_03[1]
dicio.update({nome_p_03:(idade_p3, imc_03)})
dicio

{'João': (25, 21.604938271604937),
 'Cleber': (34, 31.22130394857668),
 'Joana': (53, 24.141519250780433)}

In [ ]:
nome_p_04 = p_04[0]
idade_p4 = p_04[1]
dicio.update({nome_p_04:(idade_p4, imc_04)})
dicio

{'João': (25, 21.604938271604937),
 'Cleber': (34, 31.22130394857668),
 'Joana': (53, 24.141519250780433),
 'Maria': (25, 24.38652644413961)}

#### 6. Faça todas as operações a partir da lista inicial e o conjunto abaixo definido.

In [ ]:
c1 = {343, 56, 2, 4, 8, 3 , 8, 2, 15, 89, 0, 4, 2, 6, 23, 9,4}
c2 = {23, 42, 3, 15, 32, 0, 13, 1, 52, 21, 11, 22, 18, 54, 64, 2, 6, 8, 22}

In [ ]:
#Diferença
c1.difference(c2)

{4, 9, 56, 89, 343}

In [ ]:
c2.difference(c1)

{1, 11, 13, 18, 21, 22, 32, 42, 52, 54, 64}

In [ ]:
#Interseção
c1.intersection(c2)

{0, 2, 3, 6, 8, 15, 23}

In [ ]:
#União
c1.union(c2)

{0,
 1,
 2,
 3,
 4,
 6,
 8,
 9,
 11,
 13,
 15,
 18,
 21,
 22,
 23,
 32,
 42,
 52,
 54,
 56,
 64,
 89,
 343}

In [ ]:
#Diferença simétrica
c1.symmetric_difference(c2)

{1, 4, 9, 11, 13, 18, 21, 22, 32, 42, 52, 54, 56, 64, 89, 343}